
 body{ background-image: url('../img/bg.jpg') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    }
h1{
	color: black;
}
body {
  text-align: center;
  color: black;
  padding-top:10em;
}

* { color: black; text-decoration: none;}
